a {
    text-decoration: none;
    color: blue;
}

h2 {
    font-size: 25px;
    color: #f1f5f1;
}

h1 {
    background: #89ff89;
}

p {
    /*max-width: 400px;*/
    /*text-align: center;*/
    margin: 1px;
    background: #90ff90;
    border: 5px solid #68c1f8;
    border-radius: 20px;


}


ul {
    background: antiquewhite;
    border-radius: 30px;
    border: 2px solid #91c7fc;
}

img {
    width: 300px;
    display: block;
    border: 1px solid #51a5f8;
    padding: 2px;
    border-radius: 30px;
    margin: auto;

}

html, body {
    scroll-behavior: smooth;
}

a:visited {
    color: #164d03;
}

div {
    width: auto;
    /*display: flex;*/
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    /*border: 1px solid dodgerblue;*/
}
.family{
    border: 1px solid #67b1fa;
    border-radius: 30px;
}




