a{
    text-decoration: none;
    color: blue;
}
h2{
    font-size: 25px;
    color: green;
}
h1{
    background: green;
}
p{
    background: darkseagreen;
}
li{
    background: peachpuff;
}
ul{
    background: antiquewhite;
}

img{
    width: 300px;
}

p{
   max-width: 400px;
}